body {
  font-family: "Times New Roman";
}

li {
  list-style: none;
}

.header {
  background-color: #FFE4E1;
  color: #fff;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 50px;
  padding: 30px 50px;
}

.header-list li {
  float: left;
  padding: 40px 30px;
}

.main {
  background-color: #D2B48C;
  height: 700px;
}

.footer {
  background-color: #EEE8AA;
  height: 300px;
}
