body {
  font-family: "courier";
}

li {
  list-style: lower-alpha;
}

.header {
  background-color: #E9967A;
  color: #fff;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 50px;
  padding: 30px 50px;
}

.header-list li {
  float: left;
  padding: 40px 30px;
}

.main {
  background-color: #8FBC8F;
  height: 700px;
}

.footer {
  background-color: #FFFAF0;
  height: 300px;
}
